
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {

	border-collapse: collapse;
	border-spacing: 0;
}


body,

html {

   margin:0;
   padding:0;
   color:#000;
   background:black;
}

#wrap {

    width:960px;
    margin:0 auto;
    background:none;
    border-radius: 20px;
}

#header {

	  padding:5px 10px;
    background:none;
    border: 1px solid #000000;
    border-radius: 20px;
}

h1 {

	  color:red;
    margin:0;
    text-align: center;
    font-size: 48px;
    text-shadow:   1px 1px white;
    font-style: arial;
    font-weight: lighter;
}

#nav {

	  text-align: center;
	  padding:5px 10px;
    background:none;
    border: 1px solid #000000;
    border-radius: 20px;


}



#sidebar {

  float:right;
  width:250px;
  height:100%;
  padding:10px;
  margin-right: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
  border-color:red;
  text-shadow:   1px 1px white;
  font-style: arial;
  font-weight: lighter;
  text-indent: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 20px;
  padding:5px;
  display:inline;
  margin:5px;
  padding:0;

}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}



#footer {

  clear:both;
  padding:5px 10px;
  background:none;
  
}

#footer p {
  margin:0;

}


#main {

  float:left;
  width:640px;
  padding:10px;
  background:none;
  border: 1px solid #000000;
  border-radius: 20px;
  border-color:red;


}
                                  /*clean up old code*/
h2 {

  font-size: 32px;
  color:red;
  text-shadow:   1px 1px white;
  font-family: Faster One, cursive;
  font-weight: lighter;
  text-indent: 15px;
  letter-spacing: 2px;
 
}






a { color:#000099

}

 p {
  
    font-family: 'Faster One', cursive;
    font-family: 'Hanalei', cursive;
    color:blue;
    text-shadow:   1px 1px white;
    font-style: arial;
    font-weight: lighter;
    text-indent: 0px;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-size: 20px;
    padding:5px;
    max-width: 640px;
    line-height: 30px;

 }

#nav ul {

    margin:0;
    padding:0;
    list-style:none;
}

#nav li {
    text-shadow:   1px 1px white;
    font-style: arial;
    font-weight: lighter;
    text-indent: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 20px;
    padding:5px;
    display:inline;
    margin:5px;
    padding:0;
}

#sidebar ol {

    display:inline;

}