

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,

html {

   margin:0;
   padding:0;
   color:#000;
   background:#a7a09a;
}
 
#wrapper {

	width: 960px;
	margin:0 auto;
	padding-top:5px;
	background: none;
	margin: 0 auto;


}
 
#header {

	text-align: center;
	list-style:none;
	background: none;
	color:red;
}

h1{
	text-align: center;
	font-size: 32px;

}

h2{
	font-size: 18px;
	color:red;
}

#nav {
	  
	  padding:5px 10px;
      background:none;
   
      
}

 #nav, ul {

	font-size: 18px;
    margin:5px;
    padding:0;
   
}

#nav li {
   text-align: center;
   display:inline;
   margin:5px;
   padding:0;

}

.floatleft{ 
	 float: right;
	 margin: 5px 5px 5px 5px;
	 
}

.floatright{ 
	 float: right;
	 margin: 5px 5px 5px 5px;
	 
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

img {

	height:180px;
	width:280px;
	
}

#column-left {
	float:left;
	width: 760px;
	padding-top: 5px;
	margin: 10px;
	background: none;
	
	
}
 
#column-center {
	float:left;
	width: 760px;
	margin: 10px;
	padding-top: 5px;
	background: none;


}
 
#column-right {

	float:left;
	width:760px;
	margin: 5px;
	padding-top: 5px;
	background: none;

	
}

p {
	font-size: 20px;
	padding:5px;
}
 
#footer {
	
	clear:both;
    padding-left:5px;
    background:none;
}




