

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body,

html {

   margin:0;
   padding:0;
   color:blue;
   background:black;
}
 
#wrapper {

	width: 960px;
	margin:0 auto;
	padding-top:5px;




}
 
#header {

	text-align: center;
	list-style:none;
	color:blue;
}

h1{
	
	font-size: 48px;
	text-shadow:   1px 1px white;
	font-style: arial;
    font-weight: lighter;

}

h2{

	font-size: 32px;
	color:blue;
	text-shadow:   1px 1px white;
	font-style: arial;
    font-weight: lighter;
    text-indent: 50px;
    letter-spacing: 2px;
}

#nav li {

	padding:5px 10px;
	text-shadow:   1px 1px white;
    font-style: arial;
    font-weight: lighter;
    text-indent: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 20px;
    padding:5px;
    display:inline;
      
}


.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}



#column-left {

	float:left;
	width: 400px;
	padding-top: 5px;
	margin: 10px;
	border-radius: 5px;
    box-shadow:inset  10px 20px 100px 20px red;


}

#column-right {

	 width:400px; 
     float:right; 
     clear:right; 
     padding-top: 5px;
     margin: 10px; 
     border-style:solid;  
	
}


a    {

	color:blue;

}
	

p {
	font-family: serif, sans-serif;
	text-shadow:   1px 1px white;
    font-weight: lighter;
    text-indent: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
	font-size: 20px;
	padding:5px;
	max-width: 460px;
	line-height: 30px;

}
 
#footer {
	
	clear:both;
    padding-left:5px;
    background:none;
}




